.flag-container {
  width: 300px;
  height: 200px;
  position: relative;
  cursor: pointer;
}

.flag {
  position: absolute;
  width: 100%;
}

.flag-top,
.flag-middle,
.flag-bottom {
  width: 100%;
  height: 33.33%;
}

.flag-top {
  background-color: #ff9933; /* Orange color */
}

.flag-middle {
  background-color: #fff; /* White color */
}

.flag-bottom {
  background-color: #138808; /* Green color */
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  display: none; /* Initially hidden */
}
