.flag-container {
  width: 450px;
  height: 300px;
  position: relative;
}

.saffron {
  width: 100%;
  height: 33.33%;
  background-color: #FF9933; /* Saffron color */
}

.white {
  width: 100%;
  height: 33.33%;
  background-color: #FFFFFF; /* White color */
}

.green {
  width: 100%;
  height: 33.33%;
  background-color: #138808; /* Green color */
}

.wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px; /* Adjust the width and height based on your image size */
  height: 60px; /* Adjust the width and height based on your image size */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY1XIy1BS1JLjrEXUKr_IDmJaqHBQUnFWhQylnq1V_Xg&s'); /* Replace 'ashoka-chakra.png' with the path to your image */
  background-size: cover;
  border-radius: 100%;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  display: none; /* Initially hidden */
}

.centered-div {
    width: 300px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    background-color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
