button.edit-btn {
    background-color: #f39c12;
    margin-left: 10px;
}

button.edit-btn:hover {
    background-color: #d68910;
}

button.delete-btn {
    background-color: #e74c3c;
    margin-left: 5px;
}

button.delete-btn:hover {
    background-color: #c0392b;
}
